@charset "UTF-8";

@font-face {
    font-family: 'braba';
    src: url(/fonte/BeaufortforLOL-Medium.ttf);
}

body {
    background-image: url(/img/cait.jpg);
    background-size: cover;
    font-family: 'braba';
}

header {
    font-size: 8vh;
    text-align: center;
    margin-top: 10vh;
    color: #010A13;
}

.back {
    width: 4vh;
    position: absolute;
}

section {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border: none;
}

th {
    margin-left: 10vh;
}

table img {
    border-radius: 4px;
    width: 6vh;
    height: 6vh;
    margin: 0 3vh;
    cursor: pointer;
    transition: transform 0.4s ease;
}

table img:hover {
    transform: scale(1.05);
}

.texto {
    margin-top: 30vh;
    position: absolute;
    width: 700px;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #010A13;
}

.texto p {
    font-size: 4.5vh;
    color: #010A13;
    margin-bottom: 0;
    margin-top: 2vh;
}

.texto p2 {
    font-size: 2vh;
    color: #ffffff9c;
}

.texto h1 {
    backdrop-filter: blur(60px);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    font-weight: normal;
}

footer {
    color: #ffffff6c;
    font-size: 15px;
    text-align: center;
    bottom: 0;
    position: fixed;
}

@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url(/img/Mobile/caitmobile.jpg);
        background-size: cover;
    }

    .back {
        display: none;
    }

    .texto {
        width: 90vw;
        margin-top: 35vh;
    }

    .texto p {
        font-size: 4vh;
        text-align: center;
        position: static;
        color: #F0E6D2;
    }

    .texto p2 {
        font-size: 2vh;
    }

    .texto h1 {
        position: static;
        font-size: 2.3vh;
    }

    #texto1 {
        margin-top: 38vh;
    }
    #texto2 {
        margin-top: 30vh;
    }
    #texto4 {
        margin-top: 28vh;
    }
    #texto5 {
        margin-top: 33vh;
    }

    header {
        font-size: 5vh;
        margin-top: 6vh;
        color: #F0E6D2;
    }

    table img {
        width: 4.5vh;
        height: 4.5vh;
        margin: 0 1vh;
    }

    section {
        flex-direction: column;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
}