@charset "UTF-8";

@font-face {
    font-family: 'braba';
    src: url(/fonte/BeaufortforLOL-Medium.ttf);
}

body {
    background-image: url(/img/e.jpg);
    background-size: cover;
    font-family: 'braba';
}

header {
    color: #FFFF00;
    font-size: 9vh;
    text-align: center;
    margin-top: 15vh;
}

header p {
    color: #FFFF00;
    text-align: center;
    font-size: 3vh;
    margin-top: 4vh;
}

/*Tabela*/

table {
    text-align: center;
    align-items: center;
    margin: 0% auto;
    margin-top: 2vh;
    backdrop-filter: blur(65px);
    border-radius: 10px; 
}

th,td {
    padding: 1.5vh;
    color: #F0E6D2; 
}

th {
    font-size: 3vh;
}

td {
    font-size: 2vh;
}

/*Classes das Imagens da Tabela principal*/

.shen {
    width: 4.5vh;
}

.lee {
    width: 4.5vh;
}

.vlad {
    width: 4.5vh;
}

.cait {
    width: 4.5vh;
}

.pike {
    width: 4.5vh;
}

.plus {
    width: 4.5vh;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.plus:hover{
    transform: scale(1.15);
}
footer{
    color: #ffffff6c;
    font-size: 1.8vh;
    text-align: center;
    bottom: 0;
    position: fixed;
}