@charset "UTF-8";

@font-face {
    font-family: 'braba';
    src: url(../fonte/BeaufortforLOL-Medium.ttf);
}

body {
    background-image: url(../img/e.jpg);
    background-size: cover;
    font-family: 'braba';
}

header {
    font-size: 9vh;
    text-align: center;
    margin-top: 10vh;
    color: #FFFF00;
}

header p {
    color: #FFFF00;
    text-align: center;
    font-size: 3vh;
    margin-top: 4vh;
}

section {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Tabela*/

table {
    text-align: center;
    align-items: center;
    margin-top: 2vh;
    backdrop-filter: blur(65px);
    border-radius: 10px;
}

th,
td {
    padding: 1.5vh;
    color: #F0E6D2;
}

th {
    font-size: 3vh;
}

td {
    font-size: 2vh;
}

/*Classes das Imagens da Tabela principal*/

.shen {
    width: 4.5vh;
}

.lee {
    width: 4.5vh;
}

.vlad {
    width: 4.5vh;
}

.cait {
    width: 4.5vh;
}

.braum {
    width: 4.5vh;
}

.plus {
    width: 4.5vh;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.plus:hover {
    transform: scale(1.15);
}

footer {
    color: #ffffff6c;
    font-size: 1.8vh;
    text-align: center;
    bottom: 0;
    position: fixed;
}

@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/Mobile/emobile.jpg);
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    header {
        text-align: center;
        font-size: 3.7vh;
        margin-top: 15vh;
    }

    header p {
        font-size: 2vh;
        margin-top: 2vh;

    }

    section {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding: 0 2vw;
    }

    table {
        width: 80%;
        margin-top: 5vh;
        border-radius: 8px;
        backdrop-filter: blur(30px);
    }

    th,
    td {
        padding: 1vh;
        font-size: 1.5vh;
    }

    table img,
    .shen,
    .lee,
    .vlad,
    .cait,
    .pike,
    .plus {
        width: 3vh !important;
        min-width: 24px;
    }

    .plus:hover {
        transform: scale(1.1);
    }

    footer {
        font-size: 1.2vh;
        margin-top: 2vh;
    }
}